@{
    ViewData["Title"] = "Home Page";
}
<!--SE LO PASA A LA ACCION DEL controller QUE LO VA A MANDAR A LA VIEW-->



<h1 class="ingresodedatos">INGRESE LOS DATOS PEDIDOS A CONTINUACIÓN PARA ESCRIBIR TU PROPIA RESEÑA</h1>
<div >
<form action='@Url.Action("GuardarResena", "Home")' method="post" enctype="multipart/form-data">

  <input class="form-control" type="hidden" name="IdPelicula" value="@ViewBag.IdPelicula">
  <input class="form-control" type="hidden" name="CantLikes" value=0>
    <div class="form-group">
    <label for="exampleInputname1"> Ingrese su Nombre de Usuario </label>
    <input type="text" name="NombreDelUsuario" class="form-control" id="exampleInputname1" required>
  </div>

  <div class="form-group">
    <label for="exampleInputname1"> Titulo: </label>
    <input type="text" name="Titulo" class="form-control" id="exampleInputname1" required>
  </div>

 

  <input class="form-group" type="file" name="Foto" >

  <div class="form-group">
    <label for="exampleInputname1">Ingresen su opinion respecto a la película</label>
    <input type="text" name="Contenido" class="form-control" id="exampleInputname1" required>
  </div>
  <br> 
  </br> 
 <center> <button  type="submit" class="btn btn-primary" class=>Subir Reseña </button>  </center>
</form>
</div>



