@{
    ViewData["Title"] = "Eventos";
}


<html>


	<body class="fondo">
<!--Portada-->
<div class="text-center">
    <h1 class="recomendacion" >¡Conoce más sobre estos eventos! </h1>
      </div>

     <a title="Oscars" href="http://www.premiososcar.net/"><img src="/imagenes/Oscars.jpg" class="Oscar" /></a>
     <br> 
     </br> 
    <a title="Emmys" href="https://www.emmys.com/"><img src="/imagenes/Emmys.jpg" class="Emmys" /></a>
     <a title="IFF" href="http://cinelatinoamericano.org/versionfest.aspx?cod=74"><img src="/imagenes/IFF.jpeg" class="IFF" /></a>
      
    </body>
      </html>






