@{
    ViewData["Title"] = "Popular";
}


<html>
	<body class="fondo">
    <!--Portada-->
    <div class="text-center">
      <h1 class="recomendacion" >¡popular! </h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="datos">#</th>
          <th scope="col"></th>
          <th scope="col" class="datos">Pelicula</th>
          <th scope="col" class="datos">  Sinopsis</th>
  
        </tr>
     
    </thead>
    <tbody>
        
      <tr>
        <th scope="row" class="NombrePeli">1</th>
        <td> <img src="/imagenes/InfinityWar.jpg" class="ImgSize"></td>
        <td class="NombrePeli">Infinity War</td>
        <td class="Contenido ">Héroes se alían para vencer al poderoso Thanos, el peor enemigo al que se han enfrentado. Si Thanos logra reunir las seis gemas del infinito: poder, tiempo, alma, realidad, mente y espacio, nadie podrá detenerlo.
        </td>
    </tr>
     <tr>
        <th scope="row" class="NombrePeli">2</th>
        <td><img src="/imagenes/Padrino.jpg" class="ImgSize"></td>
        <td class="NombrePeli">El Padrino</td>
        <td class="Contenido "> Don Vito Corleone es el respetado y temido jefe de una de las cinco familias de la mafia de Nueva York en los años 40. El hombre tiene cuatro hijos: Connie, Sonny, Fredo y Michael, que no quiere saber nada de los negocios sucios de su padre. Cuando otro capo, Sollozzo, intenta asesinar a Corleone, empieza una cruenta lucha entre los distintos clanes.  </td>
    </tr>
    <tr>
        <th scope="row" class="NombrePeli">3</th>
        <td><img src="/imagenes/ForrestGump.jpg" class="ImgSize"></td>
        <td class="NombrePeli">Forest Gump</td>
        <td class="Contenido "> Forrest Gump, un joven sureño, tenaz e inocente, es protagonista de acontecimientos cruciales en la historia de los Estados Unidos.
 
      </td>
     <tr>
        <th scope="row" class="NombrePeli">4</th>
        <td><img src="/imagenes/10RazonesParaOdiarte.jpg" class="ImgSize"></td>
        <td class="NombrePeli">10 Razones Para Odiarte</td>
        <td class="Contenido ">Las hermanas Stratford son muy distintas. La bella y popular Bianca nunca ha salido con un chico, pero lo está deseando, y Kat, su hermana mayor, es arisca y con mal genio. Su padre no deja que Bianca tenga novio hasta que Kat consiga uno.

        </td>
    </tr>
    <tr>
        <th scope="row" class="NombrePeli">5</th>
        <td><img src="/imagenes/GreatestShowman.jpg" class="ImgSize"></td>
        <td class="NombrePeli">The Greatest Showman</td>
        <td class="Contenido ">P.T. Barnum se entrega a su imaginación para crear el circo Barnum & Bailey en el siglo XIX. Con números musicales, artistas exóticos y hazañas, el fascinante espectáculo toma al mundo por asalto para convertirse en el mejor espectáculo de la Tierra.
        </td>
    </tr>

  </tbody>
</table>
      
  </body>
</html>






