html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black;
  color: orange;
}
 footer{
  
 }
 .card-peliculas
 {
   width:20%;
  /*color del titulo */

  text-align: center;
  /* distansiamiento entre las cards*/
  margin: 70px;
  
 }

 .fondo
{
  background-image: url("/imagenes/fondo.jpg");
  background-size: 100%;
}