html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:black;
  color: orange;
  
}
 footer{
  
 }
 .card-peliculas
 {
   width:20%;
  /*color del titulo */

  text-align: center;
  /* distansiamiento entre las cards*/
  margin: 70px;
  font-family:'Bienvenidos'; 
  
 }

 .fondo
{
  background-image: url("/imagenes/fondo.jpg");
  background-size: 100%;
}

.delimitador{
  width:560px;
  margin:auto;
  margin-top: 10%;
  }
  /* El contenedor con el padding-top crea el tamaño del vídeo */
  .contenedor{
  height:0px;
  width:100%;  max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
  padding-top:56.25%; /* Relación: 16/9 = 56.25% */
  position:relative;
  


  }
  /* El iframe se adapta al tamaño del contenedor */
  iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  margin-top: -20%;
  }
  .fotoPeli
{
  border-radius: 10%;
  text-align:right;
  width: 250px;
  height:auto;
  left: 20px;
  margin-top: -40%;

}
@font-face{
  font-family:'Bienvenidos';
  src: url(lion_king.ttf);
}

.card-title 
{
  font-weight: 900;
}
.recomendacion
{
  font-family:'Bienvenidos';
}

.Director
{
  font-family:'Bienvenidos';
  font-size: 0.5cm;
  margin-top: -5%;
}

.fondoGris
{
  background-color: gray;
}

.foto-perfil {

width:45px;
height:45px;


}